* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS';
}

.container {
    /*height: 100vh;*/
    width: 100%;
    background: transparent;
    display:flex;
    align-items: center;
    justify-content: center;
}

.container form {
    width: 350px;
    background-color: #fff;
    border-radius: 6px;
    padding: 30px 0;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.3);
}

.container form h4 {
    font-size: 20px;
    text-align: center;
    padding: 0 15px;
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: 20px;
    font-weight: 600;
}

.container form .input-box {
    margin-bottom: 8px;
    padding: 0 25px;
    width: 100%;
    position: relative;
}

.container form .input-box input {
    width: 100%;
    height: 35px;
    font-size: 18px;
    padding-right: 10px;
    margin-bottom: 8px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px;
}


.result-container {
  font-family: 'Arial, sans-serif';  
  width: 88%;
  border-style: solid;  
  padding: 10px; 
  align-items: center;
  margin-right: 25px;
  background-color: blanchedalmond;
  border-color: coral;
  
  display: none;
}

.result-container .result-box input {
    border-style: none;
  }

.container form .input-box input:last-child {
    margin-bottom: 0;
}

.container form .input-box input:focus {
    outline: 1px solid #51eecf;
}

.container form .input-box input.show {
    border-color: red;
}

.container form .input-box input.show:focus {
    outline-color: red;
}

.container form .input-box input::placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.container form .input-box .success {
    position: absolute;
    font-size: 17px;
    left: 35px;
    top: 14px;
    color: #0c987c;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
}

.container form .input-box .success.show {
    opacity: 1;
    pointer-events: auto;
}

.container form .input-box .error {
    color: red;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 500;
    display: none;
}

.container form .input-box .error.show {
    display: block;
}

.container form .input-box .eye {
    position: absolute;
    font-size: 17px;
    right: 35px;
    top: 14px;
    color: #000;
    cursor: pointer;
}

.container form .btn {
    padding: 0 25px;
    margin-top: 20px;
    width: 80%;
    display: flex;
    gap: 5px;
    
    
}

.container form .btn button {
    height: 30px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 6px;
    background: #1bb092;
    color: #fff;
    font-size: 20px;
    justify-content: center;
    cursor: pointer;
    transition: color .3s ease-in-out;
}

.container form .btn button:hover {
    background-color: #0c987c;
}